<ion-header-bar class="bar-dark">
    <h1 class="title">Foros</h1>
</ion-header-bar>

<ion-content>
    <div class="row row-center">
        <div class="col">
            <ion-list>
                <ion-item ng-repeat-start="(cat, forum) in forums" class="item-divider">
                    {{cat}}
                </ion-item>
                <ion-item ng-repeat="for in forum" ng-click="loadForum(for.url)">
                    {{for.title}}
                </ion-item>
                <ion-item ng-repeat-end></ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>