<ion-view title="{{nickname}}">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-alert"></i>
                Avisos
                <span class="badge badge-dark">{{notifications.avs}}</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-star"></i>
                Favoritos
                <span class="badge badge-dark">{{notifications.fav}}</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-email"></i>
                Mensajes
                <span class="badge badge-dark">{{notifications.msj}}</span>
            </a>
        </div>
    </ion-content>
</ion-view>