<ion-content></ion-content>

<ion-footer-bar class="footerbar bar-dark">
    <div class="tabs-striped tabs-background-dark tabs-color-assertive">
        <div class="tabs">
            <a class="tab-item active" ng-click="$state.go('home')">
                <i class="icon ion-home"></i>
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-navicon"></i>
            </a>
            <a class="tab-item" ng-click="$state.go('logout')">
                <i class="icon ion-log-out"></i>
            </a>
        </div>
    </div>
</ion-footer-bar>