<ion-header-bar class="bar-dark">
    <h1 class="title">Mediavida</h1>
</ion-header-bar>

<ion-content>
    <div class="row row-center" id="login">
        <div class="col">
            <div class="list list-inset">
                <form name="loginForm" method="POST">
                    <label class="item item-input">
                        <input name="username" ng-model="username" type="text" placeholder="Username">
                    </label>
                    <label class="item item-input">
                        <input name="password" ng-model="password" type="password" placeholder="Password">
                    </label>
                    <ion-toggle toggle-class="toggle-energized">Remember me?</ion-toggle>
                    <button ng-click="doLogin()" class="button button-dark button-full">Login</button>
                </form>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer-bar class="footerbar bar-dark">
    <div class="tabs-striped tabs-background-dark tabs-color-assertive">
        <div class="tabs">
            <a class="tab-item active" ng-click="$state.go('home')">
                <i class="icon ion-home"></i>
            </a>
            <a class="tab-item" ng-click="$state.go('forums')">
                <i class="icon ion-navicon"></i>
            </a>
            <a class="tab-item" ng-click="$state.go('logout')">
                <i class="icon ion-log-out"></i>
            </a>
        </div>
    </div>
</ion-footer-bar>