<div class="row row-center" id="login">
    <div class="col">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password">
            </label>
            <ion-toggle toggle-class="toggle-energized">Remember me?</ion-toggle>
            <button class="button button-energized button-full">Login</button>
        </div>
    </div>
</div>